/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: top;
    align-items: top;
    background-color: #f4f4f4;
}

/* Contenedor principal que alinea la imagen y las descripciones */
.container {
    display: flex;
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    justify-content: space-between;
    width: 100%; /* Usar todo el ancho disponible */
    max-width: 1200px; /* Para limitar el ancho del contenedor */
}

/* Contenedor de la imagen con lupa */
.img-magnifier-container {
    position: relative;
    margin-right: 20px; /* Separación de la imagen respecto a las descripciones */
    flex-shrink: 0; /* La imagen no se redimensionará */
}

/* Estilo de la lupa */
.img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    width: 100px;
    height: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    background-repeat: no-repeat;
    background-size: 200% 200%;
    z-index: 99;
    pointer-events: none;
}

/* Contenedor de descripciones alineadas a la derecha */
.description-container {
    flex-grow: 1; /* La sección de descripciones crecerá para ocupar el espacio disponible */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    max-width: 400px; /* Limitar el ancho de las descripciones */
}

/* Estilo de cada descripción */
.description {
    display: none; /* Oculto por defecto */
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%; /* Las descripciones ocupan todo el ancho disponible */
    text-align: left;
}

/* Clase activa que muestra la descripción */
.description.active {
    display: block;
}

/* Contenedor para las imágenes y títulos */
.image-title-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


h3 {
    font-size: 15px;
    margin: 0; /* Quita el margen por defecto de los títulos */
    color: white; /* Color del texto para que sea visible sobre el fondo oscuro */
}
